/* mobile */

@media (max-width: 740px) {
    #nav>li {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #header .search-btn {
        display: none;
    }
    #nav {
        display: block;
    }
    #header .mobile-menu-btn {
        display: block;
    }
}